.coin-container{
    display: flex;
    justify-content: center;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}
.coin{
    display: flex;
    align-items: center;
    padding: 24px;
    min-width: 300px;
}
.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin h1{
    font-size: 16px;
    width: 150px;
}
.coin-symbol{
    text-transform: uppercase;

}
.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
.coin-price{
    width:110px;
}
.coin-volume{
    width: 230px;
}
.coin-marketcap{
    width: 155px;
}
.coin-percent{
    width: 100%;
}
.red{
    color: #f00606;
}
.green{
    color: #11d811;
}


@media only screen and (max-width: 1050px) {
    .coin-row{
      width:680px !important;
    }
    .coin{
        min-width: 130px !important;
    }
    .coin img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .coin h1{
        font-size: 16px;
        width: 150px;
    }
    .coin-symbol{
        text-transform: uppercase;
    
    }
    .coin-data{
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;
    }
    .coin-price{
        width:110px;
    }
    .coin-volume{
        width: 230px;
    }
    .coin-marketcap{
        width: 155px;
    }
    .coin-percent{
        width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .coin-row{
      width:480px !important;
    }
    .coin{
        min-width: 130px !important;
    }
    .coin img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .coin h1{
        font-size: 16px;
        width: 150px;
    }
    .coin-symbol{
        text-transform: uppercase;
    
    }
    .coin-data{
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;
    }
    .coin-price{
        width:110px;
    }
    .coin-volume{
        width: 230px;
    }
    .coin-marketcap{
        width: 155px;
    }
    .coin-percent{
        width: 100%;
    }
  }





  /**/
  .dashboard .cards-container {
	margin:25px auto;
	display:grid;
	width:100%;
	grid-template-columns:repeat(3, minmax(300px, 1fr));
	grid-gap:25px;
	grid-template-rows:1fr;
}

td img{
    height:25px;
    width:25px;
}

td .redcolor {
    color: #f00606 !important;
}
td .greencolor {
    color: #11d811;
}

.headerClass{
    background: #374c63;
    color: rgb(255, 255, 255);
}

.ml-auto{
    margin-left : auto !important;
}

.dashboard .card-bg {
	border:1px solid #f2f2f2;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dashboard .wide {
	grid-column:span 2;
}

.dashboard .c-p {
	cursor:pointer;
}

.dashboard .pane-image {
	min-width:3rem;
	height:3rem;
	margin-right:1rem;
}

.dashboard .card-section {
	padding:0 1.5rem;
	box-sizing: border-box;
}

.dashboard .footer {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1.5rem 0;
	width:80%;
	margin:0 auto;
}

.dashboard .footer-link {
	display:flex;
	align-items:center;
	padding:0;
	color:#333;
}

@media (max-width:1320px) {
	.dashboard .cards-container {
		grid-gap: 15px;
		grid-template-columns: repeat(2, minmax(270px, 1fr));
	}
	.dashboard .wide {
		grid-column:span 1;
	}
	.dashboard .card-section {
		padding:0 0.5rem;
	}
	.dashboard .table-rem {
		display:none !important;
	}
	.dashboard .footer {
		width:90%;
	}
}

@media (max-width:920px) {
	.dashboard .cards-container {
		max-width:500px;
		width:90%;
		font-size: 0.85rem;
		grid-template-columns: repeat(1, minmax(220px, 100%));
	}
	.dashboard .msg-rem {
		display:none !important;
	}
	.dashboard .p-4 {
		padding:1rem !important;
	}

	.dashboard .pane-image {
		min-width:2rem;
		height:2rem;
		margin-right:0.5rem;
	}
	.dashboard .footer-rem, .dashboard .footer-link {
		display:none !important;
	}
	.dashboard .footer .d-flex{
		margin:0 auto;
		text-align: center;
	}
}
@media (max-width:375px) {
	.dashboard .h5 {
		font-size:1rem;
	}
	.dashboard .cards-container {
		margin:10px 0;
	}
}


/**Exchange list*/
.profile .cards-container1 {
	display:grid;
	grid-gap:30px;
	grid-template-columns: 1fr 2fr;
}
.profile .mini-container {
	display:grid;
	grid-gap:30px;
	grid-template-columns: repeat(2, 1fr);
}
.profile .cards-container2 {
	margin-top:20px;
	display:grid;
	grid-gap:40px;
	grid-template-columns: repeat(2, 1fr)
}
.profile .cards-container2 .card {
	max-width:500px;
}

@media (max-width:1240px) {
	.profile .cards-container1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.profile .mini-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width:900px) {
	.profile .cards-container1 {
		margin:0 auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
	.profile .cards-container2 {
		margin:30px auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
}